<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pelmenstar.projktSens.weather.app">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.pelmenstar.projktSens.shared.android.ui.settings.SettingsActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.StartupActivity"
            android:theme="@style/AppTheme.Launcher"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"/>
        <activity
            android:name=".ui.sunriseSunset.SunriseSunsetCalendarActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"/>
        <activity
            android:name=".ui.moon.MoonCalendarActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"/>
        <activity
            android:name=".ui.report.DayReportActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"/>
        <activity
            android:name=".ui.report.WeekReportActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"/>
        <activity
            android:name=".ui.report.MonthReportActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"/>
    </application>

</manifest>